body{
  font-family: 'Roboto Condensed' ;
}

.topic{
  background-color: #ececec;
  padding: 20px;
  width: 100%;
  z-index: 2;
}

.bg{
  width: 100%;
}

.status{
  /* sposition: absolute; */
  top: 100px;
}

.schoolname{
  font-size: 7vw;
}

.battext{
  font-size: 4.5vw;
}

.card-body{
  padding: 0.25rem;
}

.score{
  margin-top: -60%;
  background-color: rgb(252, 252, 252, 0.8);
}

.logo{
  /* margin-top: 20%; */
  width: 100%;
  padding: 5px 0 5px 0;
}

.scorenum h1{
  font-size: 10vw;
  text-align: center; 
}

.details{
  text-align: center;
}

.details h5{
  font-size: 4vw;
}

.extras{
  margin-top: 15px;
  text-align: center;
}

.players{
  margin-top: 15px;
  margin-bottom: 20%;
}

.batting{
  margin-top: 30px;
  margin-bottom: 30px;
}

.bat{
  background-color: salmon;
  margin-top: 15px;
}

.namebat{
  padding: 5px;
  margin-left: 10px;
}

.pointsbat{
  padding: 5px;
  background-color: rgb(204, 60, 44);
  text-align: center;
}

.ball{
  margin-top: 20px;
}

.footer{
  background-color: maroon;
  color: white;
}

.acicts{
  font-size: 4vw;
}
/* .inning{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 60%;
    font-weight: 500;
    bottom: 5px;
  }
  .scorenlogo{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px; 
    padding: 10px;
    background-color: white;
    box-shadow: 5px 8px 14px #5d5d5d59;
  }
  .logo{
    margin-top: 30%;
  }
  .schoolname{
   text-align: center;
   margin-top: -2px;
  }
  
  ion-col{
  }
  .cardmain{
    background-color: rgb(255, 255, 255);
  }
  .scoreboard{
    margin-bottom: -30px;
  }
  .detailssc{
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 20%;
  }
  .detailssc h6{
    font-size: 12px;
  }
  h3.nums{
    font-size: 5vw;
  }
  @keyframes live {
    0% {width: 80%;}
    20% {width: 60%;}
    40% {width: 40%;}
    60% {width: 60%;}
    80% {width: 80%;}
    100% {width: 100%;}
  }
  div.col1{
    background-color: red;
    width: 100%;
    height: 8px;
    display: inline-block;
  }
  div.col2{
    background-color: gold;
    width: 100%;
    height: 8px;
    display: inline-block;
  }
  div.col3{
    background-color: red;
    width: 100%;
    height: 8px;
    display: inline-block;
  }
  .details{
    text-align: center;
    font-size: 130%;
  }
  .other{
    text-align: right;
    font-size: 120%;
    color: black;
  }
  .batting{
    margin-top: 10px;
    font-size: 90%;
    color: rgb(100, 96, 96);
  }
  .balling{
    margin-bottom: 20px;
    font-size: 90%;
    color: rgb(87, 87, 87);
  }
  .balling-panel{
    background: rgb(218, 217, 217);
  }
  .player{
    margin-bottom: -20px;
    font-size: 110%;
  }
  .icon{
    vertical-align: -11%;
    animation: colorchange 2s infinite;
  }
  
  @keyframes colorchange {
    0% {color: black;}
    25% {color: rgb(100, 96, 96);}
    50% {color: rgb(241, 241, 241);}
    100% {color: rgb(0, 0, 0);}
  }
  .caption{
    color: rgb(0, 0, 0);
  } */