body{
  font-family: 'Roboto Condensed' ;
}

.navbar{
  background-color: #ececec;
  padding: 20px;
  z-index: 2;
  opacity: 1;
}

.imageholder{
  display: inline-block;
  clip-path: circle(100% at 50% 4%);
}

.bg{
  width: 100%;
  margin-top: -10%;
  z-index: -1;
}

.status{
  top: 100px;
  color: white;
}

.schoolname{
  font-size: 7vw;
  margin-bottom: -2%;
}

.battext{
  font-size: 4.5vw;
}

@keyframes onanim {
  0% {opacity: 1;}
  10% {opacity: 0.9;}
  20% {opacity: 0.8;}
  30% {opacity: 0.7;}
  40% {opacity: 0.6;}
  50% {opacity: 0.5;}
  60% {opacity: 0.4;}
  70% {opacity: 0.3;}
  80% {opacity: 0.2;}
  90% {opacity: 0.1;}
  100% {opacity: 0;}
}

.onbutton{  
  animation: onanim 0.5s infinite;
  animation-direction: alternate;
  position: absolute;
  float: left;
}

@keyframes offanim {
  0% {opacity: 0;}
  10% {opacity: 0.1;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  40% {opacity: 0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}

.offbutton{  
  animation: offanim 0.5s infinite;
  animation-direction: alternate;
  position: absolute;
  float: left;
}

.inning{
  margin-left: 30px;
}

.card-body{
  padding: 0.25rem;
}

.score{
  margin-top: -25%;
  background-color: rgb(174, 0, 0);
  color: white;
}

.logo{
  /* margin-top: 20%; */
  width: 100%;
  padding: 5px 0 5px 0;
}

.scorenum h1{
  font-size: 10vw;
  text-align: center; 
}

.details{
  text-align: center;
}

.details h5{
  font-size: 4vw;
}

.extras{
  margin-top: 15px;
  text-align: center;
}

.players{
  margin-top: 15px;
  margin-bottom: 20%;
}

.batting{
  margin-top: 30px;
  margin-bottom: 30px;
}

.bat{
  background-color: rgba(250, 128, 114, 0.8);
  margin-top: 15px;
}

.namebat{
  padding: 5px;
  margin-left: 10px;
}

.pointsbat{
  padding: 5px;
  text-align: center;
  background-color: rgba(226, 80, 64, 0.8);
}

.ball{
  margin-top: 20px;  
  background-color: rgba(226, 80, 64, 0.8);
}

.footer{
  background-color: maroon;
  color: white;
}

.acicts{
  font-size: 4vw;
  margin-left: 10%;
}

/* about */
.credits{
  margin-top: -10%;
  padding-bottom: 10%;
  background-color: rgb(174, 0, 0);
  color: white;
  margin-bottom: 20%;
}


.bgacicts{
  width: 100%;
  margin-top: -10%;
  z-index: -1;
}

.post{
  background-color: rgb(201, 34, 34);
  width: 100%;
  font-size: 5vw;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postname{
  margin-left: 5%;
  font-size: 4vw;
}

/* Scoreboard */
.imageholder2{
  display: inline-block;
}

.onedaytxt{
  
}

.bg2{
  width: 100%;
  margin-top: -10%;
  z-index: -1;
}

.scoreboard1{
  margin-top: -50%;
  margin-bottom: 20%;
}
.inningsselect{
  margin-top: 10px
}

.inningselect .navitem{
  padding: 0px;
}

.inningtexttop{
  margin-top: 5%;
}

.inntxt{
  text-align: center;
}

.tab-content{
}

.scoreboard{
  margin-top: -15%;
  margin-bottom: 20%;
}

.scoreboard .caption{
  text-align: center;
  margin-top: 20px;
}

.school{
  text-align: center;
}

.arrowtable{
  float: right;
}

.scoretable{
  overflow-x: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.table{
  white-space: nowrap;
  width: 100%;
}